@keyframes CountDown {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

fa-status-countdown-bar {
    display: block;
    background-color: var(--fa-background-secondary);
    width: 100%;
    height: var(--fa-loader-height);
}
