@page "/secure"
@inherits BaseAuthenticatedComponent<Home>

<!-- Should the user be unauthenticated, redirect them to the public view. -->
<AuthorizeView>
    <NotAuthorized>
        <!-- Navigate to the public page when not authenticated. -->
        <!-- <NavigateTo Path="/public" /> -->
        <!-- Redirect to the identity server and come back after. -->
        <EnsureAuthenticatedUser />
    </NotAuthorized>
</AuthorizeView>

<div>Welcome to @Configuration.AppName, @AuthenthicationState.Result.User.Identity.Name</div>