@inherits BaseComponent<DynamicField>

<InjectEmbeddedContent ContentName="DynamicField.razor.css" HtmlWrapper="style" />
<fa-dynamic-field>
    <label for="@PropertyInformation.Name">@_fieldLabel</label>
    <div>
        @GenerateInputComponent()
        @GenerateValidationComponent()
    </div>
</fa-dynamic-field>