@inherits BaseComponent<DynamicField>

<h3>DynamicField</h3>


<!--<fieldset>
    <label for="@prop.FieldName">@prop.Label</label>
    <div>
        <InputText id="@prop.FieldName" Value="@DataContext.Name" ValueChanged="v => DataContext.Name = v" ValueExpression="() => DataContext.Name" />
        <ValidationMessage For="() => DataContext.Name" />
    </div>
</fieldset>-->