@typeparam TDataContextType
@inherits BaseComponent<DynamicForm<TDataContextType>>
@using Newtonsoft.Json;

<InjectEmbeddedContent ContentName="DynamicForm.razor.css" HtmlWrapper="style" />
<fa-dynamic-form>
    <EditForm Model="@DataContext" OnValidSubmit="@HandleOnValidSubmit">
        <DataAnnotationsValidator />

        @if (ValidationSummaryPosition == Enums.DynamicForm.ValidationSummaryPosition.FormTop)
        {
            <ValidationSummary />
        }

        @foreach (var prop in _dataContextProperties)
        {
            <DynamicField EnableDemoMode="EnableDemoMode" PropertyInformation="prop" />
        }

        @if (ValidationSummaryPosition == Enums.DynamicForm.ValidationSummaryPosition.AboveSubmit)
        {
            <ValidationSummary />
        }

        <button type="submit">@SubmitButtonText</button>

        @if (ValidationSummaryPosition == Enums.DynamicForm.ValidationSummaryPosition.FormBottom)
        {
            <ValidationSummary />
        }
    </EditForm>

    @if (EnableDemoMode)
    {
        <div>Data Context Preview</div>
        <pre>@JsonConvert.SerializeObject(DataContext, Formatting.Indented)</pre>
    }
</fa-dynamic-form>