@using FrostAura.Libraries.Components.Shared.Abstractions
@using FrostAura.Libraries.Components.Presentational.Content
@using FrostAura.Libraries.Components.Shared.Extensions;
@inherits BaseComponent<Catelog>

<InjectEmbeddedContent HtmlWrapper="style" ContentName="Catelog.razor.css" />
<fa-documentation-catelog id="@Id">
    <aside>
        <ul class="categories">
            @foreach (var componentGroup in _componentTypeGroups)
            {
                <li>
                    <div>@componentGroup.Key</div>
                    <ul class="components">
                        @foreach (var componentType in componentGroup)
                        {
                            <li onclick="@(() => ComponentSelectedHandler(componentType.FullName))">@componentType.Name</li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </aside>

    <article>
        @if (ComponentFragment == default)
        {
            <div>Select a component.</div>
        }
        else
        {
            <label>Live Demo</label>
            <div class="demo">
                @ComponentFragment
            </div>
        }
    </article>
</fa-documentation-catelog>