fa-documentation-catelog {
    display: flex;
    width: 100%;
    height: 100%;
}

    fa-documentation-catelog > article {
        flex: 1;
    }

    fa-documentation-catelog article,
    fa-documentation-catelog aside {
        padding: 15px;
    }

    fa-documentation-catelog aside {
        min-width: 200px;
    }

    fa-documentation-catelog aside hr {
        margin: 5px;
    }

    fa-documentation-catelog aside ul {
        list-style: none;
        padding: 0;
        font-weight: bold;
    }

        fa-documentation-catelog aside ul ul {
            padding-left: 15px;
            font-weight: normal;
            cursor: pointer;
            list-style: inside;
        }