@using FrostAura.Libraries.Components.Abstractions
@using FrostAura.Libraries.Components.Presentational.Content
@using FrostAura.Libraries.Components.Shared.Extensions;
@inherits BaseComponent<Catelog>

<InjectEmbeddedContent HtmlWrapper="style" ContentName="Catelog.razor.css" />
<fa-catelog>
    <ul>
        @foreach(var componentGroup in _componentTypeGroups)
        {
            <li>
                <h2>@componentGroup.Key</h2>
                <hr />
                <ul>
                    @foreach (var componentType in componentGroup)
                    {
                        <li onclick="@(() => SafelyNavigateTo(componentType.FullName))">@componentType.FullName</li>
                    }
                </ul>
            </li>
        }
    </ul>

    <div>
        @ComponentFragment
    </div>
</fa-catelog>