fa-content-carousel {
    display: block;
    width: 250px;
    height: 200px;
    overflow: hidden;
}

    fa-content-carousel .track {
        height: 100%;
        transition: transform 250ms ease-in;
    }

    fa-content-carousel .scene {
        position: absolute;
    }

    fa-content-carousel .scene,
    fa-content-carousel .background {
        width: 100%;
        height: 100%;
    }

    fa-content-carousel .background {
        object-fit: contain;
    }

    fa-content-carousel .name {
        color: white;
    }
