@using FrostAura.Libraries.Components.Abstractions
@inherits BaseComponent<GoogleMap>

<InjectEmbeddedContent HtmlWrapper="style" ContentName="GoogleMap.razor.css" />
<InjectEmbeddedContent ContentName="GoogleMap.razor.js" HtmlWrapper="script" RequestImmidiateInvocation="true" OnImmidiateInvocation="async _ => await InitializeMapAsync()" />
<fa-maps-google-map>
    <div id="@Id"></div>
</fa-maps-google-map>