@page "/"
@page "/components"

<PageTitle>FrostAura Components</PageTitle>

<label for="cb1">Countdown Bar</label>
<FrostAura.Libraries.Components.Presentational.Status.CountdownBar
    id="cb1"
    Duration="TimeSpan.FromSeconds(10)"
    Infinite="true"></FrostAura.Libraries.Components.Presentational.Status.CountdownBar>