fa-input-dynamic-form {
    display: block;
}

    fa-input-dynamic-form > div {
        color: var(--fa-color-positive);
    }

    fa-input-dynamic-form .validation-message {
        color: var(--fa-color-negative);
    }