@using FrostAura.Libraries.Components.Abstractions
@using Microsoft.AspNetCore.Components.Forms 
@typeparam TDataContextType
@inherits BaseComponent<DynamicForm<TDataContextType>>

<InjectEmbeddedContent ContentName="DynamicForm.razor.css" HtmlWrapper="style" />
<fa-input-dynamic-form id="@Id">
    <EditForm Model="@DataContext" OnValidSubmit="@HandleOnValidSubmit">
        <!-- Allows for validating object trees. Requires: Microsoft.AspNetCore.Components.DataAnnotations.Validation -->
        <ObjectGraphDataAnnotationsValidator />

        @if (ValidationSummaryPosition == Shared.Enums.Input.ValidationSummaryPosition.FormTop)
        {
            <ValidationSummary />
        }

        @foreach (var prop in _dataContextProperties)
        {
            <DynamicField
                EnableDemoMode="EnableDemoMode"
                PropertyInformation="prop"
                PropertyEffects="PropertyEffects"
                ShouldRenderValidator="ValidationSummaryPosition == Shared.Enums.Input.ValidationSummaryPosition.PerElement" />
        }

        @if (ValidationSummaryPosition == Shared.Enums.Input.ValidationSummaryPosition.AboveSubmit)
        {
            <ValidationSummary />
        }

        <button type="submit" class="btn btn-primary">@SubmitButtonText</button>

        @if (ValidationSummaryPosition == Shared.Enums.Input.ValidationSummaryPosition.FormBottom)
        {
            <ValidationSummary />
        }
    </EditForm>
</fa-input-dynamic-form>

<!--
    Build-in form components.

    InputCheckbox           <input type="checkbox">
    InputDate<TValue>       <input type="date">
    InputFile               <input type="file">
    InputNumber<TValue>     <input type="number">
    InputRadio<TValue>      <input type="radio">
    InputRadioGroup<TValue> Group of child InputRadio<TValue>
    InputSelect<TValue>     <select>
    InputText               <input>
    InputTextArea           <textarea>
-->