fa-input-dynamic-field > div {
    padding-bottom: 15px;
    padding-top: 5px;
}

fa-input-dynamic-field input[type=file] {
    display: none;
}

fa-input-dynamic-field .image-picker-image {
    height: 75px;
    border: 2px solid var(--fa-background-secondary);
    cursor: pointer;
}
