fa-navigation-sidebar {
    background-color: var(--fa-nav-background-color);
    width: var(--fa-nav-bar-width);
    padding: var(--fa-padding-primary);
    position: relative;
    transition: var(--fa-animation-transision-primary);
    box-shadow: var(--fa-shadow-primary);
}

    fa-navigation-sidebar header {
        text-align: center;
        color: var(--fa-nav-color);
        padding-top: var(--fa-padding-primary);
    }

    fa-navigation-sidebar ul {
        margin: 0;
        padding: var(--fa-padding-primary);
    }

    fa-navigation-sidebar ul,
    fa-navigation-sidebar li {
        list-style: none;
        text-decoration: none;
    }

    fa-navigation-sidebar li {
        padding: var(--fa-padding-primary);
    }

    fa-navigation-sidebar i.fa {
        font-size: var(--fa-nav-item-size);
        padding-right: var(--fa-padding-primary);
    }

    fa-navigation-sidebar object {
        width: var(--fa-icon-size);
        height: var(--fa-icon-size);
        filter: var(--fa-svg-filter);
        transition: var(--fa-animation-transision-primary);
    }

    fa-navigation-sidebar li > a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--fa-nav-color);
        filter: brightness(0.5);
        transition: var(--fa-animation-transision-primary);
    }

    fa-navigation-sidebar > header i {
        padding: var(--fa-padding-primary);
    }

    fa-navigation-sidebar > header div {
        font-size: var(--fa-font-header-size);
        padding-left: var(--fa-padding-primary);
    }

    fa-navigation-sidebar > header i,
    fa-navigation-sidebar li > a {
        cursor: pointer;
    }

        fa-navigation-sidebar li > a.nav-link-selected {
            filter: brightness(1.0);
        }

        fa-navigation-sidebar li > a:not(.nav-link-selected):hover {
            filter: brightness(0.7);
        }

    fa-navigation-sidebar footer {
        color: var(--fa-nav-color);
        text-align: center;
        font-size: 0.6rem;
        position: absolute;
        bottom: 0;
        width: var(--fa-nav-bar-width);
        padding-bottom: var(--fa-padding-primary);
        filter: brightness(0.4);
    }

/* Desktop-specific styling. */
@media (min-width: 768px) {
    fa-navigation-sidebar {
        margin-right: var(--fa-shadow-radius);
    }

        fa-navigation-sidebar:not(:hover) {
            overflow: hidden;
        }

            fa-navigation-sidebar:not(:hover),
            fa-navigation-sidebar:not(:hover) object {
                width: 45px;
                transition: var(--fa-animation-transision-primary);
            }

                fa-navigation-sidebar:not(:hover) ul {
                    padding: var(--fa-padding-primary) 0;
                }

                fa-navigation-sidebar:not(:hover) li {
                    padding: var(--fa-padding-primary) 0;
                }

                    fa-navigation-sidebar:not(:hover) li > a {
                        justify-content: center;
                    }

                fa-navigation-sidebar:not(:hover) i.fa {
                    padding-right: 0;
                }

                fa-navigation-sidebar:not(:hover) li > a div,
                fa-navigation-sidebar:not(:hover) footer {
                    display: none;
                }
}

/* Mobile-specific styling. */
@media (max-width: 768px) {
    fa-navigation-sidebar {
        width: unset;
    }

        fa-navigation-sidebar .collapse {
            display: none;
        }

        fa-navigation-sidebar header {
            display: flex;
            align-items: center;
            padding-top: 0;
        }

        fa-navigation-sidebar ul {
            border-top: thin solid var(--fa-nav-color);
            margin-top: var(--fa-padding-primary);
        }
}
