fa-navigation-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--fa-background-primary);
}

@media (min-width: 768px) {
    fa-navigation-layout {
        flex-direction: row;
    }
}